student_catalog{
	display:block;
color:red;

	padding-bottom: 10px;

	border:  2px solid white;

	border-radius:  25px;

	background-color: gray;

	padding:  20px;
    

}


name{
	color: white: ;

	font-weight: bolder;

	font-family:  broadway;

}
